html,
body,
.container {
  height: 100%;
}

body {
  background-color: rgb(24, 24, 24);
  margin: 0;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  font-size: large;
}

.canvas {
  width: 960px;
  display: grid;
  gap: 2px;
}

.square {
  background-color: whitesmoke;
  aspect-ratio: 1;
}

.painted {
  background-color: blueviolet;
}